<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--导入 orm 配置,因为需要用到 dataSource,transactionManager 等 -->
    <import resource="applicationContext-orm.xml"/>

    <!-- 流程引擎的配置 -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="processEngineName" value="activitiProcessEngine"/>
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
        <property name="databaseSchemaUpdate" value="true" />
        <property name="jobExecutorActivate" value="false" />
        <property name="mailServerPort" value="465"/>
        <property name="mailServerHost" value="smtp.qq.com"/>
        <property name="mailServerDefaultFrom" value="337095899@qq.com"/>
        <property name="mailServerUsername" value="337095899@qq.com"/>
        <property name="mailServerPassword" value="funmyvcdhaoqbibj"/>
        <property name="mailServerUseSSL" value="true"/>

        <!-- 自动部署资源(工作流文件) -->
        <!--<property name="deploymentResources" value="classpath:diagrams/leave.bpmn"/>-->
    </bean>

    <!-- 创建流程引擎的工厂 -->
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>


    <!-- 配置 processEngineFactory中Activiti的7大Service 到 spring 容器-->
    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
    <bean id="taskService" 		 factory-bean="processEngine" factory-method="getTaskService" />
    <bean id="runtimeService"    factory-bean="processEngine" factory-method="getRuntimeService" />
    <bean id="formService" 	 	 factory-bean="processEngine" factory-method="getFormService" />
    <bean id="identityService"	 factory-bean="processEngine" factory-method="getIdentityService" />
    <bean id="historyService" 	 factory-bean="processEngine" factory-method="getHistoryService" />
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />

    <!-- 集成官方Activiti Rest-->
    <context:component-scan base-package="org.activiti.rest.service,org.activiti.rest.editor,org.activiti.rest.diagram.services">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 集成REST服务需要的bean -->
    <bean id="restResponseFactory" class="org.activiti.rest.service.api.RestResponseFactory" />
    <bean id="contentTypeResolver" class="org.activiti.rest.common.application.DefaultContentTypeResolver" />

    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>




</beans>